/* GRAPHIC CODE */

#topic .library {
  padding: 1rem 0;
  margin: 2rem auto;
  max-width: 100rem;
}

#topic .library__hed {
  text-transform: uppercase;
  margin-bottom: 3rem;
}

#topic .graphic {
  width: 100%;
  position: relative;
}

#topic .graphic__prose {
  padding-top: 25rem;
/*  padding-bottom: 5rem;
*/  width: 52rem;
  margin-right: 35rem;
}


#topic .graphic__prose .trigger {
  padding-top: 10rem;
  padding-bottom: 80rem;
  margin: 0;
  min-height: 400px;
  
}

#topic .graphic__vis {
  position: absolute;
  top: 0;
  margin-left: 52rem;
  -webkit-transform: translate3d(0, 0, 0);
  /*-moz-transform: translate3d(0, 0, 0);*/
  transform: translate3d(0, 0, 0);
  height: 100vh;
}

#topic .graphic__vis.is-fixed {
  position: fixed;
}

#topic .graphic__vis.is-bottom {
  top: auto;
  bottom: 0;
}

#topic .graphic__vis svg {
  /*border: 1px dashed black;*/
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  /*-moz-transform: translateY(-50%);*/
  transform: translateY(-50%);

}

#topic .item circle {
  stroke: #666;
  stroke-width: 1px;
  fill: #fff;
}

#topic .item text {
  fill: #666;
  font-size: 12px;
  text-anchor: middle;
  alignment-baseline: middle;
}



/* graph-scroll.js version */
#topic .graphic__vis.graph-scroll-fixed {
  position: fixed;
  right: auto;
}

#topic .graphic__vis.graph-scroll-below {
  top: auto;
  bottom: 0;
}
